script(src='/assets/js/jquery-ui-1.9.2.custom.min.js')
script(src='/assets/js/jquery.ui.touch-punch.min.js')
script.include(type='text/javascript', src='/assets/js/jquery.dcjqaccordion.2.7.js')
script(src='/assets/js/jquery.scrollTo.min.js')
script(src='/assets/js/jquery.nicescroll.js', type='text/javascript')
// common script for all pages
script(src='/assets/js/common-scripts.js')