aside
        #sidebar.nav-collapse
          // sidebar menu start
          ul#nav-accordion.sidebar-menu
            p.centered
              a(href='/profile')
                if (user)
                  if (user.profile.picture)
                    img.img-circle(src=user.profile.picture,width='60')
                  else
                    img.img-circle(src='/images/ui-sam.jpg', width='60')
                else 
                  img.img-circle(src='/images/ui-sam.jpg', width='60')
            if user
              h5.centered #{user.profile.name}
            li.mt
              a(href='/')
                i.fa.fa-dashboard
                span Dashboard
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-desktop
                span Posts
              ul.sub
                li
                  a(href='/posts') Index
                li
                  a(href='/posts/create') Create
            li
              a(href='/chats')
                i.fa.fa-comments
                span Chat