extends ./layout/desktop.pug

block content
     section#main-content
        section.wrapper.site-min-height
          h3
            i.fa.fa-angle-right
            |  Index
          .row.mt
            .col-md-12
              .content-panel
                p Dashboard Here