doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dashboard')
    meta(name='keyword', content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    title NodeJS Starter
    // Bootstrap core CSS
    link(href='/css/app.css', rel='stylesheet')
    script(src='/js/app.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    //
      **********************************************************************************************************************************************************
      MAIN CONTENT
      ***********************************************************************************************************************************************************
    #login-page
      .container
        form.form-login(method='post',action='/forget')
          h2.form-login-heading Forget Password
          if messages.error
            .alert.alert-danger
              div= messages.error
          if messages.info
            .alert.alert-info
              div= messages.info
          if messages.success
            .alert.alert-success
              div= messages.success
          .login-wrap
            input.form-control(type='email', placeholder='Your Email', name='email')
            button.btn.btn-theme.btn-block(type='submit')
              i.fa.fa-lock
              |  Reset Password
    // BACKSTRETCH
    // You can use an image of whatever size. This script will stretch to fit in any screen size.
    script(type='text/javascript', src='assets/js/jquery.backstretch.min.js')
    script.
      $.backstretch("assets/img/login-bg.jpg", {speed: 500});