doctype html
html(lang='en')
  include includes/head.pug
  body
    section#container
      //
        **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        ***********************************************************************************************************************************************************
      // header start
      include includes/navbar.pug
      // header end
      //
        **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        ***********************************************************************************************************************************************************
      // sidebar start
      include includes/sidebar.pug
          // sidebar menu end
      // sidebar end
      //
        **********************************************************************************************************************************************************
        MAIN CONTENT
        ***********************************************************************************************************************************************************
      // main content start
      block content
      // /MAIN CONTENT
      // main content end
      // footer start
      include includes/footer.pug
      // footer end
    // js placed at the end of the document so the pages load faster
    include includes/script.pug
    block additonalScript
