aside
        #sidebar.nav-collapse
          // sidebar menu start
          ul#nav-accordion.sidebar-menu
            p.centered
              a(href='profile.html')
                img.img-circle(src='assets/img/ui-sam.jpg', width='60')
            if user
              h5.centered #{user.local.email}
            li.mt
              a(href='/')
                i.fa.fa-dashboard
                span Dashboard
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-desktop
                span Posts
              ul.sub
                li
                  a(href='/posts') Index
                li
                  a(href='/posts/create') Create
            li
              a(href='/chats')
                i.fa.fa-comments
                span Chat