extends ./../layout/desktop.pug

block content
     section#main-content
        section.wrapper.site-min-height
          h3
            i.fa.fa-angle-right
            |  Post Management
          .row.mt
            .col-md-12
              .content-panel
                - if (messages.success)
                  script(src="/js/components/notfication/success_noti.js")
                - else if (messages.error)
                  script(src="/js/components/notfication/error_noti.js")
                table.table.table-striped.table-advance.table-hover
                  h4
                    i.fa.fa-angle-right
                    |  Post List
                  hr
                  thead
                    tr
                      th
                        i.fa.fa-bullhorn
                        |  Title
                      th
                  tbody
                      each post in posts
                        tr
                          td
                            a(href='basic_table.html#') #{post.title}
                          td
                            button.btn.btn-primary.btn-xs
                              a(href="/posts/" + post._id + "/edit")
                                i.fa.fa-pencil
                            button.btn.btn-danger.btn-xs.deletePost(data-post-id=post._id, data-post-title=post.title)
                              i.fa.fa-trash-o
                        tr
block additonalScript
  script(src="/js/post.js")
