extends ./../layout/desktop.pug

block script_head
  script(src="https://cloud.tinymce.com/stable/tinymce.min.js")

block content
     section#main-content
        section.wrapper.site-min-height
          h3
            i.fa.fa-angle-right
            |  Edit Post
          .row.mt
            .col-lg-12
              .form-panel
                h4.mb
                  i.fa.fa-angle-right
                  |  Form Elements
                form.form-horizontal.style-form(method='post', action="/posts/" + post._id +"?_method=PUT")
                  .form-group
                    label.col-sm-2.col-sm-2.control-label Title
                    .col-sm-10
                      input(type='hidden', name='_csrf', value=_csrf)
                      input.form-control(type='text', name='title', value = post.title)
                      span.help-block Title for this posts.Note that title must be unique.
                  .form-group
                    label.col-sm-2.col-sm-2.control-label Content
                    .col-sm-10
                      textarea.form-control(name='content', rows="10",cols="10",id="content") #{post.content}
                  button.btn.btn-primary(type='submit') Submit

block script
  script.
    tinymce.init({
      selector: '#content',
      themes:"modern",
    });